@media only screen and (max-width: 800px) {

    p{
        font-size: 25px;
    }

    span{
        font-size: 25px;
        font-weight: 700;
    }

    li{
        font-size: 25px;
    }

    h1, h2, h3, h4{
        font-size: 29px;
    }

    .outer{
        min-width: 480px;
    }

    .page-one, .page-two, .page-three, .page-four{
        width:480px
    }

    .page-one_h h1{
        margin-left: 20px;
        margin-top: 90px;
        color: #2f86c7;
    }

    .page-one_i img{
        width: 170px;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .page-one_p p{
        font-size: 21px;
        line-height: 1;
        margin: 0 0 0 20px;
    }

    .page-two{
        background-image: url("Background/b2m.png");
        background-size: cover;
    }

    .page-two_1 h2{
        margin-top: 60px;
        margin-bottom: 105px;
    }

    .page-two_1_cards{
        width: 480px;
        height: auto;
        flex-wrap: nowrap;
        align-content: normal;
        justify-content: normal;
        margin-bottom: 30px;
    }

    .page-two_1 p{
        margin-left: 45px;
    }

    .page-two_1_cards div:nth-child(2){
        padding-top: 80px;
        padding-bottom: 70px;
    }

    .page-two_1_cards div:nth-child(3){
        padding-bottom: 60px;
    }

    .page-two_2_cards{
        width: 480px;
        height: auto;
        flex-wrap: nowrap;
        align-content: normal;
        justify-content: normal;
    }

    .page-two_2_cards_inner{
        margin-bottom: 35px;
    }

    .page-two_2 h3{
        margin-bottom: 30px;
    }

    .page-two_3 h3{
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .page-two_3_ul{
        width: 480px;
        list-style: disc !important;
        padding-left: 40px;
    }

    .page-two_3_ul li{
        display: list-item;
    }

    .page-two_3_ul img{
        display: none;
    }

    .page-two_3_ul p{
        font-weight: 700;
    }

    .page-three{
        background-image: url("Background/b3m.png");
        background-size: cover;
        padding-bottom: 15px;
    }

    .page-three h2, .page-three h3{
        letter-spacing: 3px;
        margin-top: 25px;
        margin-bottom: 35px;
    }

    .page-three_string{
        width: 480px;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .page-three_string img{
        padding-bottom: 15px;
    }

    .page-three_string p{
        margin-left: 20px;
    }

    .page-three_string span{
        color: #41a7ee;
    }

    .page-three_string div:first-child{
        align-self: center;
    }

    .page-three_card{
        width: 480px;
        flex-direction: column;
        margin-top: 30px;
    }

    .page-three_card_inner{
        line-height: 1.6;
        padding: 70px 75px;
        margin: 0 25px 20px 25px;
    }



    .page-four{
        background-image: url("Background/b4m.png");
        padding-bottom: 100px;
    }

    .page-four_h h3{
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .page-four_text{
        margin-right: 25px;
        margin-left: 70px;
    }

    .page-four_text:nth-child(3), .page-four_text:nth-child(5){
        justify-content: flex-start;
    }

    .page-four_text:nth-child(4){
        margin-left: 70px;
        margin-bottom: 70px;
    }

    .page-four_text:nth-child(2){
        margin-bottom: 130px;
    }

    .page-four_text:nth-child(3) {
        margin-bottom: 60px;
    }

    .page-four_text:nth-child(5) {
        margin-bottom: 75px;
    }






    }