* {
    z-index: 10;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

p{
    color: #404040;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
}

span{
    padding-right: 8px;
    font-size: 33px;
    font-weight: 500;
    color: #2f86c7;
    font-family: 'Montserrat', sans-serif;
}

li{
    color: #404040;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
}

h1, h2, h3, h4{
    font-size: 50px;
    color: #41a7ee;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
}
/*Обнуление и предустановки*/


.outer{
    width: 100%;
    min-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.page-one{
    width: 1400px;
}

.page-one_h h1{
    line-height: 1.3;
    margin-top: 170px;
}

.page-one_i img{
    width: 725px;
    height: 13px;
    margin: 70px 0;
}

.page-one_p p{
    font-size: 41px;
    line-height: 0.9;
    margin-bottom: 240px;
}

.page-two{
    width: 1400px;
    background-image: url("Background/b2.png");
    border-bottom: #2f86c7 3px solid;
}

.page-two_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-two_1 h2{
    margin-top: 160px;
    margin-bottom: 110px;
}

.page-two_1 p{
    line-height: 1.3;
}

.page-two_1 span{

}

.page-two_1_cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 370px;
    width: 1200px;
    align-content: space-between;
    justify-content: space-between;
    margin-bottom: 75px;
}

.page-two_1_cards div:nth-child(3), .page-two_1_cards div:nth-child(4){
    text-align: left;
}

.page-two_1_cards div:nth-child(2){
    padding-top: 100px;
}

.page-two_1_cards_inner{
    display: flex;
}

.page-two_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-two_2 h3{
    margin-bottom: 55px;
}

.page-two_2_cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 415px;
    width: 1200px;
}

.page-two_2_cards_inner{
    display: flex;
    flex-direction: column;
    text-align:left;
}

.page-two_2_cards_inner div:first-child{
    display: flex;
    justify-content: center;
}

.page-two_2_cards_inner span{
    color: #2f86c7;
}

.page-two_2_cards_inner p{
    line-height: 1.3;
}

.page-two_2_cards_inner img{
    width: 85px;
}

.page-two_3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    flex-direction: column;
}

.page-two_3 h3{
    margin-top: 125px;
    margin-bottom: 70px;
}

.page-two_3_ul{
    list-style: none;
    width: 1200px;
}

.page-two_3_ul li{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    letter-spacing: 3px;
}

.page-two_3_ul img{
    width: 85px;
    margin-right: 30px;
}

.page-two_3_ul p{

}

.page-two_4{
    background-image: url("Background/b4.png");
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-two_4 p{

}

.page-three{
    width: 1400px;
    background-image: url("Background/b3.png");
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px
}

.page-three h2{
    margin-top: 70px;
    margin-bottom: 55px;
}

.page-three_string{
    width: 1200px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 90px;
}

.page-three_string div:first-child{
    align-self: flex-start;
}

.page-three_string p{

}

.page-three_string span, .page-three_card span{

}

.page-three_string img{
    width: 115px;
    margin-right: 50px;
}

.page-three_card{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin-top: 100px;
}

.page-three_card_inner{
    border: #2f86c7 5px solid;
    border-radius: 25%;
    padding: 45px 40px;
    line-height: 1.4;
}

.page-three_card_inner li{

}

.page-four{
    padding-bottom: 170px;
    width: 1400px;
    display: flex;
    flex-direction: column;
    background-image: url("Background/b4.png");
    background-size: cover;
    background-position: 50% 50%;
}

.page-four_h{
    display: flex;
    justify-content: center;
}

.page-four_h h3{
    margin-top: 60px;
    margin-bottom: 340px;
}

.page-four_text{
    display: flex;
    margin-left: 100px;
    margin-right: 170px;
}

.page-four_text:nth-child(3), .page-four_text:nth-child(5){
    justify-content: flex-end;
}

.page-four_text:nth-child(2){
    margin-bottom: 215px;
}

.page-four_text:nth-child(3){
    margin-bottom: 300px
}

.page-four_text:nth-child(4){
    margin-bottom: 250px;
    margin-left: 190px;
}

.page-four_text:nth-child(5){
    margin-bottom: 210px;
}

.page-four_text:nth-child(6){

}

.page-four_text p{

}

.page-four_text span{

}